[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
matplotlib = "*"
jupyter = "*"
jsanimation = "*"
gym = "*"
torch = "==0.4.1"
numpy = "*"
pandas = "*"
progressbar = "*"
atari-py = "*"
tensorboardX = "*"
baselines = "*"

[requires]
python_version = "3.6"
